<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>monitor</title>
    <script>
        function myrefresh()
        {
            window.location.reload();
        }
        setTimeout('myrefresh()',50); //指定1秒刷新一次
    </script>
</head>
<body>
    <img id='video' src='{% static "video.jpg" %}'  width="500" height="300">
</body>
</html>